* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: black;
	background: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
}

#draw, #profile {
	background-color: rgb(226, 226, 226);
}

#curve {
	background-color: rgb(226, 226, 226);
}

#container {
	width: 1800px;
	height: 900px;

	display: flex;
	flex-direction: row;
	justify-content: center;

	margin: auto;
	margin-top: 20px;
}

#left {
	height: 900px;
	display: flex;
}

#right {
	height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#instructions {
	border-style: solid;
	margin: 5px;
	border-radius: 10px;
	padding: 5px;

	background-color: rgb(226, 226, 226);
	width: 300px;

	font-size: 14px;

	text-align: justify;

	overflow: auto;
}

#inputs {
	border-style: solid;
	margin: 5px;
	border-radius: 10px;
	padding: 5px;

	background-color: rgb(226, 226, 226);
	width: 300px;

	overflow: auto;
}

#main {
	border-style: solid;
	margin: 5px;
	border-radius: 10px;
	padding: 5px;

	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	column-gap: 20px;

	background-color: rgb(226, 226, 226);
}

#top, #coloring {
	display: flex;
	align-items: center;
}

#top {
	margin-bottom: 10px;
}

#profileCurve {
	border-style: solid;
	margin: 5px;
	border-radius: 10px;
	padding: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(226, 226, 226);
}

input {
	height: 30px;
	padding: 5px;
	margin-right: 5px;
}

#tessellation {
	height: 500px;
	border-style: solid;
	margin: 5px;
	border-radius: 10px;
	padding: 5px;
	background-color: rgb(226, 226, 226);
}

.del {
	width: 25px;
	font-size: 20px;
}

.lineElement {
	margin-bottom: 10px;
	display: flex;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 16px;

	column-gap: 10px;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: rgb(226, 226, 226);
	border-radius: 10px;
	margin: 5px;
}

::-webkit-scrollbar-thumb {
	background: rgb(180, 180, 180);
	border-radius: 10px;
	
	border-right: 2px rgb(226, 226, 226) solid;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(120, 120, 120);
}